body {
    min-height: 100vh;
    background-image: url('../images/default.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: white;
    text-shadow: 2px 2px 1px black;
    font-family: sans-serif, arial, Helvetica;
    display: flex;
    
}
.titleContainer{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.mainTitle{
    color: white;
    font-family: sans-serif, arial, Helvetica;
    font-size: 60px;
    text-shadow: none;
    visibility: visible;
}
#weatherContainer {
    background-color: rgba(0,0,0,0.15);
    box-shadow: 1px 1px 5px black;
    padding: 50px;
    border-radius: 10px;
    position: absolute;
    visibility: hidden;
}

#weatherContainer h2 {
    margin: 5px;
    font-size: 42px;
    font-family: 'Lucida Grande', sans-serif;
   
}
 #searchContainer {
     padding: 15px;
     position: absolute;
     top: 0;
     right: 0;
 }

 #searchContainer input {
     width: 200px;
 }
 #searchContainer button {
     background-color: #e9c454;
     width: 100px;
 }
 .searchControl {
     width: 100%;
     max-width: 280px;
     padding: 10px 15px;
     margin: 3px;
     border: none;
     outline: none;
     background-color: rgba(255,255,255,0.6);
     border-radius: 15px;
     border-bottom: 3px solid rgb(101, 101, 99);
     color: #313131;
     font-size: 20px;
     font-weight: 300px;
     transition: 0.2s ease-out;
}

.searchControl:hover {
    background-color: rgba(255,255,255,1);
}

 #weatherMain {
    display: block;
    margin-bottom: 20px;
 }

 #weatherMain div {
     display: inline-block;
 }
 #weatherDescriptionHeader {
     font-size: 28px;
     vertical-align: 50%;
 }
 #temperature {
     font-size: 38px;
     vertical-align: 25%;
 }
 .bottom-details {
     display: block;
     font-size: 24px;
     text-align: right;
 }

 hr {
     margin-bottom: 20px;
 }